.btn {
    background-color: #336A86;
    color: white;
    border: none;
}

.btn:hover {
    background-color: white;
    color: #336A86;
    cursor: pointer;
}

.btnUnfollow {
    color: #336A86;
    background-color: white;
    border-color: #336A86;
}

.btnUnfollow:hover {
    background-color: #336A86;
    color: white;
}