.Content {
    font-family: 'Raleway', sans-serif;
}

.YakfileLink {
    color: black;
}

.YakfileLink:hover {
    text-decoration: none;
    color: #8EAEC4;
}

.ReyakkHover:hover,
.Reyakked:hover {
    color: #800020;
    cursor: pointer;
}

.Reyakked {
    color: #800020;
}

.EditDeleteIcon:hover {
    cursor: pointer;
    color: #8EAEC4;
}

.EditDeleteIcon {
    color: grey;
}