.YakfileFont {
    font-family: 'Raleway', sans-serif;
}

.YakfileImage {
    height: 75px;
    width: 75px;
}

.PageFont {
    font-family: 'Fredoka One', cursive;
}

.BlueFont {
    color: #336A86;
}

.EditDeleteIcon:hover {
    cursor: pointer;
    color: #8EAEC4;
}

.EditDeleteIcon {
    color: grey;
}