.App {
    font-family: 'Raleway', sans-serif;
    background-color: #eff5fa;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    color: #336A86;
}