.App {
    font-family: 'Raleway', sans-serif;
    background-color: #eff5fa;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
    padding-bottom: 85px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    color: #336A86;
}

.Shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* CSS code on Image taken from CI's Moment's project */
.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}